body {
    background-color: black;
}

.amd {
    color: orangered;
    text-align: center;
    border: 2px groove coral;
    margin: 50px;
    padding: 50px 30px 100px 30px;
    font-size: 20px;
    font-family: 'David Libre', serif;
    background-color: black;
    background-size: cover;
}